Repository solid/specification, pull requests merged in 2021-12, with the labels that each got.

#358 Refer to WAC. Remove duplicate requirements
  protocol.html
Labels: topic: resource access, topic: authorization, status: Nominated

#352 Authoritative Contained Resource Data
  protocol.html
Labels: doc: Protocol, topic: resource access

#346 Describe N3 Patch
  protocol.html
Labels: doc: Protocol, category: new functionality, topic: resource access, category: revisit for 1.0

#364 Allow Allow headers in DELETE requests to other resources
  protocol.html
Labels: doc: Protocol, topic: resource access, topic: authorization

#365 Use storage or server in place of data pod
  protocol.html
Labels: doc: Protocol

#363 Update websockets
  protocol.html
Labels: doc: Protocol, topic: resource access, topic: websocket

#360 Add societal-impact-questionnaire stub
  protocol.html
Labels: doc: Protocol, topic: ethical considerations
