Repository solid/specification, pull requests merged in 2021-11, with the labels that each got.

#190 Remove server requirement to advertise container type in HTTP header
  protocol.html
Labels: doc: Protocol, topic: resource access, status: Nominated

#345 Add .editorconfig
  .editorconfig
Labels: category: editorial

#298 Clarify 409 on containment triples
  protocol.html
Labels: doc: Protocol, category: editorial, status: Nominated

#357 Remove optional advisement relying on delegation of authority
  protocol.html
Labels: doc: Protocol, topic: resource access, status: Nominated
