Repository solid/specification, pull requests merged in 2024-02, with the labels that each got.

#608 Clarify requests with N3 document in server-representation-turtle-jsonld
  ED/protocol.html
Labels: doc: Protocol

#621 Remove given and optional URI assignments with PUT, PATCH, POST
  ED/protocol.html
Labels: doc: Protocol, topic: resource access

#624 Add meeting agenda 2024-02-21
  meetings/2024-02-21.md
Labels: category: meeting
